
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;600&display=swap');

body {
    background-color: hsl(217, 54%, 11%)

}
#post-container {
    background-color:  hsl(216, 50%, 16%);
    border-radius: 20px;
    width: 400px;
    height: 700px;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    box-shadow: 1px 30px 20px hsl(215, 49%, 7%);   
}

#img-container img{
    width: 320px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate( 12%, 5%);
    
}
.title {
    font-family: Outfit;
    color: hsl(0, 0%, 100%);
    padding-left: 40px;
    padding-top: 40px;
}
.title:hover {
    color: hsl(178, 100%, 50%);
}
.sub-title {
    font-family: 'Outfit', sans-serif;
    color: hsl(216, 13%, 53%);
    font-weight:lighter;
    padding-left: 40px;
 
}
#block-stats1 {
    display: flex;
}
#block-stats2 {
    display: flex;
}
#stats{
    display: flex;
    justify-content: space-around;
}
#block {
    width: 60px;
}
.text-eth {
    padding-left: 5px;
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
    color: hsl(178, 100%, 50%);
}

.text-days-left {
    padding-left: 5px;
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
    color: hsl(215, 51%, 70%);
}
hr {
    border-color: hsl(215, 32%, 27%);
    width: 320px;
    border-radius: 5px;
}
#dev-profile {
    justify-content: center;
    display: flex;
    padding-top: 40px;
}
#icon-profile img{
    border: solid white;
    border-radius: 100px;
    width: 60px;
}
.creation-name{
    padding-top: 20px;
    padding-left: 10px;
}
.creation-name span{
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
}
.creation-name strong {
    font-family: 'Outfit', sans-serif;
    color: hsl(0, 0%, 100%);
}
.creation-name strong:hover {
    color: hsl(178, 100%, 50%);
}